<div class="error-container">
    <div class="error-content">
        <div class="mascot-side">
            <img src="../../assets/imagenes/Mascota_pensativa.png" alt="MoneyShare Mascota" class="mascot-image">
        </div>
        
        <div class="message-side">
            <h1 class="error-title">404</h1>
            <h2 class="error-message">¡Vaya! Esta página se ha esfumado</h2>
            <p class="error-description">
                Parece que has intentado acceder a un share que no existe o que se ha perdido en el mundo digital.
                Mientras nuestro equipo busca tus fondos perdidos, ¿por qué no regresas al inicio?
            </p>
            
            <button (click)="goToHome()" class="back-button">Volver al inicio</button>
        </div>
    </div>
</div>