<!-- home.component.html -->
<header>
    <nav>
        <img src="/assets/imagenes/Logo.png" alt="Logo" />
        <div>
          <a routerLink="/login">
            <button>Iniciar Sesión</button>
          </a>   
          <a routerLink="/register">
            <button> Registrarse</button> 
          </a>             
        </div>
    </nav>
</header>

<main>
    <section class="hero">
        <img src="/assets/imagenes/Hero.jpg" alt="Hero" />
      <h1>Con ShareMoney, dividir gastos con amigos, roomies o familia nunca había sido tan fácil y rápido.</h1>
      <p>¡Gasta juntos, paga justo!</p>
      <a routerLink="/login">
        <button>Comienza ahora</button>
      </a>
    </section>
  
    <section class="features">
      <div>
        <div>
            <h2>ShareExpense</h2>
            <p>Gestión de gastos compartidos sin enredos.</p>
        </div>
        <div>
            <p>ShareMoney te ayuda a dividir y gestionar gastos compartidos de manera justa y sin enredos. 
            Puedes registrar pagos, asignar quién debe cuánto y ver los saldos en tiempo real. 
            Evita recordatorios incómodos. ¡Ideal para roommates, amigos y familia!</p>
        </div>
       
      </div>
    </section>
    <div>
        <p>Tu dinero, tus reglas</p>
    </div>
  </main>
  
  <footer>
    <div class ="contact">
        <h2>Comunícate con nosotros</h2>
        <p>Email: sharemoney.soporte&#64;gmail.com</p>
        <p>Teléfono: 3123456789</p>
    </div>
    <div class = "about">
        <h2>Políticas</h2>
        <p>Políticas de privacidad</p>
        <p>Términos y condiciones</p>
        <p>Soporte</p>
    </div>
    <div class="socials">
        <h2>Encuentranos en: </h2>
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
    </div>
    <p>© 2025 ShareMoney Todos los derechos reservados</p>
  </footer>
