<!-- login.component.html -->
<header>
    <nav>
        <img src="/assets/imagenes/Logo.png" alt="Logo" />
        <div>
          <a routerLink="/register">
            <button> Registrarse</button>
          </a>                
          
        </div>
    </nav>
</header>

<div class="login-container">
    <div class="login-box">
        <h2>INICIO DE SESIÓN</h2>
        
        <label for="email">Usuario</label>
        <input type="email" id="email" placeholder="correo@example.com">

        <label for="password">Contraseña</label>
        <input type="password" id="password" placeholder="**********">

        <button class="login-button">INICIAR SESIÓN</button>

        <p>¿No tienes una cuenta aún? <a routerLink="#">REGÍSTRATE AQUÍ</a></p>
    </div>
</div>

<footer>
    <div class ="contact">
        <h2>Comunícate con nosotros</h2>
        <p>Email: sharemoney.soporte&#64;gmail.com</p>
        <p>Teléfono: 3123456789</p>
    </div>
    <div class = "about">
        <h2>Políticas</h2>
        <p>Políticas de privacidad</p>
        <p>Términos y condiciones</p>
        <p>Soporte</p>
    </div>
    <div class="socials">
        <h2>Encuentranos en: </h2>
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
    </div>
    <p>© 2025 ShareMoney Todos los derechos reservados</p>
  </footer>
