<!-- login.component.html -->
<header>
    <nav>
      <a routerLink="">
        <img src="/assets/imagenes/Logo.png" alt="Logo" />
      </a>
      <div>
        <a routerLink="/register">
          <button> Registrarse</button>
        </a>                
        
      </div>
    </nav>
</header>

<div class="login-container">
  <div class="login-box">
      <h2>INICIO DE SESIÓN</h2>
      
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="email">Usuario</label>
              <input 
                  type="email" 
                  id="email" 
                  formControlName="email" 
                  placeholder="correo@example.com"
                  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
              >
              <div *ngIf="submitted && f['email'].errors" class="error-message">
                  <div *ngIf="f['email'].errors['required']">El correo electrónico es requerido</div>
                  <div *ngIf="f['email'].errors['email'] || f['email'].errors['pattern']">
                      Ingrese un correo electrónico válido
                  </div>
              </div>
          </div>
          
          <div class="form-group">
              <label for="password">Contraseña</label>
              <input 
                  type="password" 
                  id="password" 
                  formControlName="password" 
                  placeholder="**********"
                  [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
              >
              <div *ngIf="submitted && f['password'].errors" class="error-message">
                  <div *ngIf="f['password'].errors['required']">La contraseña es requerida</div>
                  <div *ngIf="f['password'].errors['minlength']">
                      La contraseña debe tener al menos 8 caracteres
                  </div>
              </div>
          </div>
          
          <button type="submit" class="login-button">INICIAR SESIÓN</button>
      </form>
      
      <p>¿No tienes una cuenta aún? <a routerLink="/register">REGÍSTRATE AQUÍ</a></p>
  </div>
</div>

<footer>
    <div class ="contact">
        <h2>Comunícate con nosotros</h2>
        <p>Email: sharemoney.soporte&#64;gmail.com</p>
        <p>Teléfono: 3123456789</p>
    </div>
    <div class = "about">
        <h2>Políticas</h2>
        <p>Políticas de privacidad</p>
        <p>Términos y condiciones</p>
        <p>Soporte</p>
    </div>
    <div class="socials">
        <h2>Encuentranos en: </h2>
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
    </div>
    <p>© 2025 ShareMoney Todos los derechos reservados</p>
  </footer>
